@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

.home-page {
  font-family: "Amatic SC", cursive;
  // font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
  background-color: #bd9391;
}
